.about{
    padding-bottom: 74px;
    &__wrapper{
        &-bottom{
            margin-top: 67px;
            .about__text{
                margin-bottom: 12px;
            }
        }
    }

    &__description{
        display: block;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
    }

    &__text{
        display: block;
        font-size: 16px;
        line-height: 24px;
    }

    &__stat{
        margin-top: 12px;
        img{
            margin: 0 auto;
        }
    } 

    &__item{
        padding-right: 59px;
        padding-top: 31px;
        &-wrap{
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .title__icon{
                flex-shrink: 0;
            }
        }

        &--pic{
            flex-shrink: 0;
            margin-right: 37px;
            padding-right: 0;
            padding-top: 0;
        }
    }

    &-row{
        display: flex;
        border: 1px solid #FFDA00;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 67px;

        &:nth-child(even){
            border: 1px solid #000000;

            .about__item{
                padding-left: 40px;
                padding-right: 46px;
            }

            .about__item--pic{
                order: 1;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
            }
        }
    }

    &__list{

        &-item{
            line-height: 24px;
            font-size: 16px;
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

}

@media screen and (max-width: 1199px){

    .about-row{
        flex-wrap: wrap;
    }

    .about__item{
        width: 100%;
        padding: 20px;
    }

    .about__item--pic{
        padding: 0;
    }

    .about__item img{
        width: 100%;
    }

    .about-row:nth-child(even) .about__item--pic{
        order: 0
    }

    .about-row:nth-child(even) .about__item{
        padding: 20px;
    }

    .about-row:nth-child(even) .about__item--pic{
        padding: 0;
    }
}

@media screen and (max-width: 759px){

    .about-row{
        margin-top: 41px;
    }

    .about__wrapper-bottom {
        margin-top: 0;
    }

    .about__list-item{
        line-height: 20px;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .about__description{
        font-size: 16px;
        line-height: 24px;
    }
}
    