.about 
    .container
        .about__title.title
            .title__icon
                <svg class="mail-icon" width="34" height="34">
                    <use xlink:href="assets/images/sprite.svg#circle"></use>
                </svg>
            span О заводе
        .about__wrapper-bottom
            .about-row
                .about__item.about__item--pic 
                    img(src="assets/images/service1.jpg", alt="")
                .about__item
                    .about__item-wrap
                        .title__icon
                            <svg class="mail-icon" width="17" height="17">
                                <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                            </svg>
                        span.about__description Сегодня KATRES это
                    ol.about__list
                        li.about__list-item Основана в 1991 году  в  г. Иглава (Чехия)
                        li.about__list-item Входит в 5-ку крупнейших производителей сушильного оборудования в Европе.
                        li.about__list-item 3 500 установок работает в более 25 странах мира.
                        li.about__list-item Свыше 900 установок в России начиная с 2006 года
            .about-row
                .about__item.about__item--pic 
                    img(src="assets/images/service2.jpg", alt="")
                .about__item
                    .about__item-wrap
                        .title__icon
                            <svg class="mail-icon" width="17" height="17">
                                <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                            </svg>
                        span.about__description Комплектующие
                    ol.about__list
                        li.about__list-item Камеры изготавливаются из высококачественных компонентов от лучших европейских производителей («SIEMENS», «DANFOSS», «WILO», «BELIMO»), 
                        li.about__list-item Все комплектующие максимально модернизированы и адаптированы к эксплуатации в суровых Российских условиях.
            .about-row
                .about__item.about__item--pic 
                    img(src="assets/images/service3.jpg", alt="")
                .about__item
                    .about__item-wrap
                        .title__icon
                            <svg class="mail-icon" width="17" height="17">
                                <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                            </svg>
                        span.about__description Оснащение завода
                    ol.about__list
                        li.about__list-item Производство оснащено самым передовым Европейским оборудованием. 
                        li.about__list-item Металлообрабатывающие станки от европейских производителей, таких как : «LSK-Machine Oy», Финляндия,  «NUKON», Турция,  «Baykal  APHS 51360», Турция.
            .about-row
                .about__item.about__item--pic 
                    img(src="assets/images/service4.jpg", alt="")
                .about__item
                    .about__item-wrap
                        .title__icon
                            <svg class="mail-icon" width="17" height="17">
                                <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                            </svg>
                        span.about__description Проверка качества 
                    ol.about__list
                        li.about__list-item Сквозной контроль всех этапов производства 
                        li.about__list-item Технические расчеты и чертежи выполняются опытными конструкторами с использованием самых современных компьютерных технологий.
                        li.about__list-item Современные склады  комплектующих и запасных частей