.about 
    .container
        .about__title.title
            .title__icon
                <svg class="mail-icon" width="34" height="34">
                    <use xlink:href="assets/images/sprite.svg#circle"></use>
                </svg>
            span О заводе
        .about__wrapper-top 
            span.about__description КАТРЕС - держатель сертификата качества ISO&nbsp;9001:2015
            span.about__text Качество портфеля - основа долгосрочного процветания
            .about__stat 
                img(src="assets/images/circle.jpg", alt="")
        .about__wrapper-middle
            .about__item.about__item-pic 
                img(src="assets/images/service1.jpg", alt="")
            .about__item
                .about__item-wrap
                    .title__icon
                        <svg class="mail-icon" width="17" height="17">
                            <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                        </svg>
                    span.about__description Ведущий производитель
                p.about__text Компания Катрес была основана в 1991 г.
                p.about__text Основное производство находится в городе Йиглава (Чехия).
                p.about__text Компания является одним из ведущих европейских производителей сушильного оборудования для деревообрабатывающей промышленности, сельского хозяйства, камер для термической обработки материалов.
                p.about__text За это время Компанией реализовано множество успешных проектов, KATRES произвела более чем 3 000 поставок по всему миру.
        .about__wrapper-bottom
            .about-row
                .about__item.about__item-pic 
                    img(src="assets/images/service2.jpg", alt="")
                .about__item
                    .about__item-wrap
                        .title__icon
                            <svg class="mail-icon" width="17" height="17">
                                <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                            </svg>
                        span.about__description Продукция высокого качества
                    p.about__text С момента создания КАТРЕС, нашей философией является удовлетворенность Заказчика. 
                    p.about__text Мы производим продукцию самого высокого качества, используя наш опыт и профессионализм в разработке современных процессов сушки древесины. 
                    p.about__text Весь процесс, от формирования Заказа и до монтажа находится под контролем, что позволяет нам быстро реагировать на запросы Заказчиков во всем мире. 
                    p.about__text Наши завершенные проекты Вы найдете повсюду  в Восточной Европе, за Уралом, в Южной Америке или в Скандинавии.
            .about-row
                .about__item.about__item-pic 
                    img(src="assets/images/service3.jpg", alt="")
                .about__item
                    .about__item-wrap
                        .title__icon
                            <svg class="mail-icon" width="17" height="17">
                                <use xlink:href="assets/images/sprite.svg#circle-small"></use>
                            </svg>
                        span.about__description Инновации
                    p.about__text Для динамичного развития и успеха, на КАТРЕС работает команда специалистов, именно поэтому КАТРЕС входит в число лидеров по инновациям в технологии сушки древесины. 
                    p.about__text Перед поставкой оборудования и технологии Клиенту, мы  обеспечиваем контроль качества и тем самым гарантируем отсутствие проблем  при сборке и техническую поддержку в течение эксплуатации. 
                    p.about__text Всё это позволяет нам предложить нашим Заказчикам оптимальное  соотношение качество - цена.