.footer
    .container
        .footer__inner 
            .footer__item
                .footer__logo
                    img(src="assets/images/logo.png", alt="")
                .footer__link
                    a(href="#") О заводе
                .footer__link
                    a(href="#") Новости 
                .footer__link
                    a(href="#") Сервис
                .footer__link
                    a(href="#") Лизинг
                .footer__link
                    a(href="#") Реализованные проекты
            .footer__item
                span.footer__title Продукция
                .footer-wrapper
                    .footer__link
                        a(href="#") Стандартные сушки
                    .footer__link
                        a(href="#") Nordic Line  
                    .footer__link
                        a(href="#") Высокотемпературные сушки
                    .footer__link
                        a(href="#") Туннельные сушки
                    .footer__link
                        a(href="#") Ленточные сушки
            .footer__item.footer-contact
                .footer-contact__title 
                    .footer__icon 
                        img(src="assets/images/cz.png", alt="")
                    span.footer__title Контакты СZ
                .footer-contact-wrapper.footer-contact-wrapper--cz
                    .footer-contact__item.footer-contact__item--start
                        .footer-contact__icon
                            <svg class="geo-icon" width="15" height="16">
                                <use xlink:href="assets/images/sprite.svg#geo"></use>
                            </svg>
                        span.footer-contact__text CZ, Na Dolech 4474/6d586 01JIHLAVA
                    .footer-contact__item
                        .footer-contact__icon
                            <svg class="mail-icon" width="15" height="13">
                                <use xlink:href="assets/images/sprite.svg#mail"></use>
                            </svg>
                        a(href="mailto:info@katres.cz").footer-contact__link info@katres.cz
                    .footer-contact__item
                        .footer-contact__icon
                            <svg class="phone-icon" width="16" height="17">
                                <use xlink:href="assets/images/sprite.svg#phone"></use>
                            </svg>
                        a(href="+420567304002").footer-contact__link +420 567 304 002
            .footer__item.footer-contact
                .footer-contact__title 
                    .footer__icon 
                        img(src="assets/images/rus.png", alt="")
                    span.footer__title Контакты RU
                .footer-contact-wrapper.footer-contact-wrapper--rus
                    .footer-contact__item.footer-contact__item--start
                        .footer-contact__icon
                            <svg class="geo-icon" width="15" height="16">
                                <use xlink:href="assets/images/sprite.svg#geo"></use>
                            </svg>
                        span.footer-contact__text г. Москва, ул. Б. Семёновская, д. 40 стр.13
                    .footer-contact__item
                        .footer-contact__icon
                            <svg class="mail-icon" width="15" height="13">
                                <use xlink:href="assets/images/sprite.svg#mail"></use>
                            </svg>
                        a(href="mailto:info@katres.ru").footer-contact__link info@katres.ru
                    .footer-contact__item
                        .footer-contact__icon
                            <svg class="phone-icon" width="16" height="17">
                                <use xlink:href="assets/images/sprite.svg#phone"></use>
                            </svg>
                        a(href="88001234567").footer-contact__link 8 (800) 123-45-67