.detail-tabs
    .detail-tabs__head
        a(href="#description").detail-tabs__button Описание 
        a(href="#model").detail-tabs__button Модельный ряд
        a(href="#leasing").detail-tabs__button Лизинг
        a(href="#project").detail-tabs__button Реализованные проекты
    .detail-tabs__content
        .detail-tabs__tab.detail-description#description
            .detail-description__wrapper 
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description1.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КАD – сушильные камеры, загружаемые фронтальным погрузчиком</strong>
                        p Самая распространенная модель камер. Этот способ загрузки наиболее удобен и современен. Камеры предназначены для сушки пиломатериалов всех пород и сечений. 
                        p Объем единовременной загрузки пиломатериалов: от 30 до 250 м3.
                        p Массивная высокопрочная конструкция (сплав AlMgSi0,5), стены из кассет горизонтального расположения, мощные отопительные регистры из нержавеющей стали и алюминия, совместно с использованием комплектующих от ведущих европейских производителей,  гарантируют отличные результаты сушки и длительный срок службы сушильных камер.  Скорость потока воздуха до 4 м/с.
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description2.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КSR – сушильные камеры с продольной загрузкой, загружаемые рельсовыми тележками</strong>
                        p Камеры типа KSR предназначены для интенсивной сушки пиломатериала.
                        p Объем единовременной загрузки таких камер: от 20 до 300 м3, при этом камеры с продольной загрузкой большой вместимости призваны решить проблему быстрой сушки значительных объемов материала одного ассортимента.
            p На сегодняшний день, фирма «KATRES», является первым и единственным производителем сушильного оборудования, который смог сконструировать и запустить несколько заводов на территории России, где установлены камеры для сушки деревянных  столбов для линий электропередач.
            .detail-description__slider
                .detail-description-container.swiper-container 
                    .swiper-wrapper 
                        .swiper-slide
                            img(src="assets/images/description3.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/description4.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/description5.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/description4.jpg", alt="")
                .detail-description__slider-arrow.detail-description__slider-arrow--prev
                    <svg class="arrow-icon" width="8" height="14">
                        <use xlink:href="assets/images/sprite.svg#arrow"></use>
                    </svg>
                .detail-description__slider-arrow.detail-description__slider-arrow--next
                    <svg class="arrow-icon" width="8" height="14">
                        <use xlink:href="assets/images/sprite.svg#arrow"></use>
                    </svg>
            p Наряду с этим, «KATRES» производит  камеры периодического действия проходного типа с разовой загрузкой до 300 м3., которые могут успешно конкурировать с аналогичным оборудованием финского производства. Эти камеры уже успешно эксплуатируются на территории РФ.
        .detail-tabs__tab#model 32434
        .detail-tabs__tab#leasing 4355 
        .detail-tabs__tab#project
            .detail-description__wrapper 
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description1.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КАD – сушильные камеры, загружаемые фронтальным погрузчиком</strong>
                        p Самая распространенная модель камер. Этот способ загрузки наиболее удобен и современен. Камеры предназначены для сушки пиломатериалов всех пород и сечений. 
                        p Объем единовременной загрузки пиломатериалов: от 30 до 250 м3.
                        p Массивная высокопрочная конструкция (сплав AlMgSi0,5), стены из кассет горизонтального расположения, мощные отопительные регистры из нержавеющей стали и алюминия, совместно с использованием комплектующих от ведущих европейских производителей,  гарантируют отличные результаты сушки и длительный срок службы сушильных камер.  Скорость потока воздуха до 4 м/с.
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description2.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КSR – сушильные камеры с продольной загрузкой, загружаемые рельсовыми тележками</strong>
                        p Камеры типа KSR предназначены для интенсивной сушки пиломатериала.
                        p Объем единовременной загрузки таких камер: от 20 до 300 м3, при этом камеры с продольной загрузкой большой вместимости призваны решить проблему быстрой сушки значительных объемов материала одного ассортимента.
            p На сегодняшний день, фирма «KATRES», является первым и единственным производителем сушильного оборудования, который смог сконструировать и запустить несколько заводов на территории России, где установлены камеры для сушки деревянных  столбов для линий электропередач.