.detail-tabs
    .detail-tabs__head
        a(href="#description").detail-tabs__button Описание 
        a(href="#model").detail-tabs__button Модельный ряд
        a(href="#leasing").detail-tabs__button Лизинг
        a(href="#project").detail-tabs__button Реализованные проекты
    .detail-tabs__content
        .detail-tabs__tab.detail-description#description
            .detail-description__wrapper 
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description1.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КАD – сушильные камеры, загружаемые фронтальным погрузчиком</strong>
                        p Самая распространенная модель камер. Этот способ загрузки наиболее удобен и современен. Камеры предназначены для сушки пиломатериалов всех пород и сечений. 
                        p Объем единовременной загрузки пиломатериалов: от 30 до 250 м3.
                        p Массивная высокопрочная конструкция (сплав AlMgSi0,5), стены из кассет горизонтального расположения, мощные отопительные регистры из нержавеющей стали и алюминия, совместно с использованием комплектующих от ведущих европейских производителей,  гарантируют отличные результаты сушки и длительный срок службы сушильных камер.  Скорость потока воздуха до 4 м/с.
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description2.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КSR – сушильные камеры с продольной загрузкой, загружаемые рельсовыми тележками</strong>
                        p Камеры типа KSR предназначены для интенсивной сушки пиломатериала.
                        p Объем единовременной загрузки таких камер: от 20 до 300 м3, при этом камеры с продольной загрузкой большой вместимости призваны решить проблему быстрой сушки значительных объемов материала одного ассортимента.
            p На сегодняшний день, фирма «KATRES», является первым и единственным производителем сушильного оборудования, который смог сконструировать и запустить несколько заводов на территории России, где установлены камеры для сушки деревянных  столбов для линий электропередач.
            .detail-description__slider
                .detail-description-container.swiper-container 
                    .swiper-wrapper 
                        .swiper-slide
                            img(src="assets/images/description3.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/description4.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/description5.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/description4.jpg", alt="")
                .detail-description__slider-arrow.detail-description__slider-arrow--prev
                    <svg class="arrow-icon" width="8" height="14">
                        <use xlink:href="assets/images/sprite.svg#arrow"></use>
                    </svg>
                .detail-description__slider-arrow.detail-description__slider-arrow--next
                    <svg class="arrow-icon" width="8" height="14">
                        <use xlink:href="assets/images/sprite.svg#arrow"></use>
                    </svg>
            p Наряду с этим, «KATRES» производит  камеры периодического действия проходного типа с разовой загрузкой до 300 м3., которые могут успешно конкурировать с аналогичным оборудованием финского производства. Эти камеры уже успешно эксплуатируются на территории РФ.
        .detail-tabs__tab#model
            <div class="compareTable js-compare-table">
                <div class="thead">
                    <div class="th">
                        <div class="tcell">Модель</div>
                    </div>
                    <div class="tw">
                        <div class="tctrl"></div>
                        <div class="tr">
                            <div class="th">
                                <div class="tcell">Объем загрузки, м³</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Ширина, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Глубина, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Высота, м</div>
                            </div>
                        </div>
                    </div>
                    <div class="th td-button">
                        <div class="tcell"></div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 К
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">50</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,2</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость
                        </div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">60</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость
                        </div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">80</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 PP
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">90</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">9,84</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×8 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">80</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×8 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">100</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">120</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">150</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 PP
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">180</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">9,84</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button">Рассчитать стоимость</div>
                    </div>
                </div>
            </div>
        .detail-tabs__tab#leasing 4355 
        .detail-tabs__tab#project
            .detail-description__wrapper 
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description1.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КАD – сушильные камеры, загружаемые фронтальным погрузчиком</strong>
                        p Самая распространенная модель камер. Этот способ загрузки наиболее удобен и современен. Камеры предназначены для сушки пиломатериалов всех пород и сечений. 
                        p Объем единовременной загрузки пиломатериалов: от 30 до 250 м3.
                        p Массивная высокопрочная конструкция (сплав AlMgSi0,5), стены из кассет горизонтального расположения, мощные отопительные регистры из нержавеющей стали и алюминия, совместно с использованием комплектующих от ведущих европейских производителей,  гарантируют отличные результаты сушки и длительный срок службы сушильных камер.  Скорость потока воздуха до 4 м/с.
                .detail-description__item
                    .detail-description__pic
                        img(src="assets/images/description2.jpg", alt="")
                    .detail-description__text 
                        p <strong>Тип КSR – сушильные камеры с продольной загрузкой, загружаемые рельсовыми тележками</strong>
                        p Камеры типа KSR предназначены для интенсивной сушки пиломатериала.
                        p Объем единовременной загрузки таких камер: от 20 до 300 м3, при этом камеры с продольной загрузкой большой вместимости призваны решить проблему быстрой сушки значительных объемов материала одного ассортимента.
            p На сегодняшний день, фирма «KATRES», является первым и единственным производителем сушильного оборудования, который смог сконструировать и запустить несколько заводов на территории России, где установлены камеры для сушки деревянных  столбов для линий электропередач.