.main{
    padding-bottom: 46px;
    &-slider{
        height: 750px;

        .swiper-container{
            height: 100%;
        }

        .container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__pagination{
            bottom: 61px !important;

            .swiper-pagination-bullet{
                width: 49px;
                height: 7px;
                border-radius: 20px;
                background: rgba(255, 255, 255, 0.5);
                opacity: 1;
                margin: 0 10px;
                &-active{
                    background: rgba(251, 218, 27, 0.95);
                }
            }
        }

        &__arrow{
            font-size: 30px;
            color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.5s ease;
            &::after{
                content: '';
                position: absolute;
                background-image: url('../assets/images/arrow.svg');
                background-size: cover;
                background-repeat: no-repeat;
                width: 22px;
                height: 38px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &--next{
                right: calc((100vw - 1649px) / 2);
            }

            &--prev{
                left: calc((100vw - 1649px) / 2);
                &::after{
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }

            &.swiper-button-disabled{
                opacity: 0.7;
                cursor: auto;
            }
        }
    }

    &-wrapper{
        max-width: 896px;
    }

    &__title{
        font-size: 94px;
        color: #fff;
        font-weight: bold;
        line-height: 110px;
        text-shadow: 0px 4px 5px rgba(#000000, 0.47);
        display: block;
        margin-bottom: 34px;
    }

    &__description{
        font-size: 28px;
        color: #fff;
        font-weight: 400;
        line-height: 38px;
        text-shadow: 0px 4px 5px rgba(#000000, 0.47);
        display: block;
    }
}