.main
    .main-slider
        .swiper-container 
            .swiper-wrapper 
                .swiper-slide(style="background-image: url(assets/images/slider-main.jpg)")
                    .container
                        .main-wrapper
                            span.main__title Самые лучшие сушильные камеры
                            span.main__description Самые лучшие сушильные камеры cамые лучшие сушильные камеры cамые лучшие сушильные камеры
                .swiper-slide(style="background-image: url(assets/images/slider-main.jpg)")
                    .container
                        .main-wrapper
                            span.main__title Самые лучшие сушильные камеры
                            span.main__description Самые лучшие сушильные камеры cамые лучшие сушильные камеры cамые лучшие сушильные камеры
                .swiper-slide(style="background-image: url(assets/images/slider-main.jpg)")
                    .container
                        .main-wrapper
                            span.main__title Самые лучшие сушильные камеры
                            span.main__description Самые лучшие сушильные камеры cамые лучшие сушильные камеры cамые лучшие сушильные камеры
            .main-slider__pagination.swiper-pagination
            .main-slider__arrow.main-slider__arrow--next
            .main-slider__arrow.main-slider__arrow--prev