.product 
    .container
        .product__title.title
            .title__icon
                <svg class="mail-icon" width="34" height="34">
                    <use xlink:href="assets/images/sprite.svg#circle"></use>
                </svg>
            span Продукция
        .product__inner
            .product__col
                .product__item.product__item--height
                    .product__pic 
                        img(src="assets/images/product1.jpg", alt="")
                    .product__name
                        span Стандартные <span class="product__name--color">сушки</span>
                .product__item
                    .product__name
                        span Ленточные <span class="product__name--color">сушки</span>
                    .product__pic 
                        img(src="assets/images/product4.jpg", alt="")
            .product__col
                .product__item
                    .product__name
                        span Nordic Line
                    .product__pic 
                        img(src="assets/images/product2.jpg", alt="")
                .product__item
                    .product__name
                        span Высокотемпературные <span class="product__name--color">сушки</span>
                    .product__pic 
                        img(src="assets/images/product3.jpg", alt="")
                .product__item
                    .product__name
                        span Туннельные <span class="product__name--color">сушки</span>
                    .product__pic 
                        img(src="assets/images/product5.jpg", alt="")