.detail-slider
    .detail-slider__inner 
        .detail-slider__column
            .detail-slider-top.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="assets/images/product1.jpg" data-fslightbox)
                            img(src="assets/images/product1.jpg", alt="")
                    .swiper-slide
                        a(href="assets/images/detail.jpg" data-fslightbox)
                            img(src="assets/images/detail.jpg", alt="")
                    .swiper-slide
                        a(href="assets/images/product1.jpg" data-fslightbox)
                            img(src="assets/images/product1.jpg", alt="")
                    .swiper-slide
                        a(href="assets/images/detail.jpg" data-fslightbox)
                            img(src="assets/images/detail.jpg", alt="")
                    .swiper-slide
                        a(href="assets/images/product1.jpg" data-fslightbox)
                            img(src="assets/images/product1.jpg", alt="")
            .detail-slider-wrapper 
                .detail-slider-thumbs.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="assets/images/product1.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/detail.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/product1.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/detail.jpg", alt="")
                        .swiper-slide
                            img(src="assets/images/product1.jpg", alt="")
                .detail-slider__arrow.detail-slider__arrow--prev
                    <svg class="arrow-icon" width="8" height="14">
                        <use xlink:href="assets/images/sprite.svg#arrow"></use>
                    </svg>
                .detail-slider__arrow.detail-slider__arrow--next
                    <svg class="arrow-icon" width="8" height="14">
                        <use xlink:href="assets/images/sprite.svg#arrow"></use>
                    </svg>
        .detail-slider__column.detail-slider__column--flex
            h1.detail__title Стандартные камеры KATRES
            .detail__description 
                p Стандартные сушильные камеры конвективного типа - одни из наиболее часто используемых типов камер в деревообрабатывающей промышленности и они занимают доминирующее место на рынке сушки древесины.
                p Основная причина - пригодность для сушки всех пород и толщин древесины при относительно небольших расходах и большой надежности и удобстве в эксплуатации сушильного оборудования данного бренда в промышленных объемах.
                ul
                    li Рабочий объем: 30 - 300 м³
                    li Теплоноситель: горячая вода / пар
                    li Полностью автоматизированное управление МК - 520 на базе PC
            .detail__buttons
                a(href="#").btn Заказать оборудование
                a(href="#").btn.btn--border Заявка на лизинг 