.video{
    height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &__icon{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}